html, body {margin: 0%; font-family: Verdana, Geneva, Tahoma, sans-serif;   
}
header{ background-color: #020239; color: white; height: 100px; width: 100%;  
  z-index: 10; margin: top 100%; position: fixed;
}

#logo{ width: 100px; float: left; margin-left: 5%; position: absolute;
}
#menu{border: 5%x; float: right; margin-right: 5%; margin-top: 5%;
}
li{float: left; list-style: none; 
  padding: 5px;  margin-top: 0%;
}
li:hover { background-color: rgb(8, 194, 226);}
h1,h2,h3,h4 {font-family: Verdana, Geneva, Tahoma, sans-serif;
}
 

#fundo {
  background: url("../fundo.png");height: 100%;  text-align: center; background-size: cover ;  
}
 
  #titulo {color: white; padding-top: 10%; padding-left: 20%;padding-right: 20%; font-size: 60px;
  
}

  #subtitulo {color: white; padding-top: 10%; padding-left: 20%;padding-right: 20% 
  }
  
  #acao {color: rgb(18, 18, 255); border: 1px; color: white solid; padding: 10px 20px 10px 20px
  
  }
  
  .icone{width: 55px;} 
  
  section{ padding:20px; float: left}

  .destaque {padding 20px; background-color: rgba(93, 237, 242, 0.514); float}

  .imgprojeto{width: 90%;}

  .justificado{text-align:justify;}
  .centralizado{text-align: center;} 
  .coluna{float: left; padding: 05%; position: relative; width: 40%;}
  .colunaicone{float: left; padding: 05%; position: relative; width: 15%;}
  .coluna3{width: 29%; padding: 0 2%; float: left; position: relative;} 
  .ods14{color: blue;}
  .footer{background-color: rgb(232, 245, 247); color: rgb(2, 12, 95); text-align: center;}
  
  #footer{float: left; margin-left: ;}
  @media all and (max-width:768px)
   