html, body {margin: 0; font-family: Verdana, Geneva, Tahoma, sans-serif;  
}

header{ background-color: #020239; color: white; height: 100px; width: 100%;  
  z-index: 10; margin: top 100%; position: fixed;  
  top: 0}

#logo{ width: 100px; float: left; margin-left: 5%; position: absolute;
}
#menu{border: 2%px solid; float: right; margin-right: 2%; margin-top: 2%;  
  list-style: none;
 }
li:hover { background-color: rgb(8, 194, 226); }
h1,h2,h3,h4 {font-family: Verdana;
}
li{padding: 20px; float :left;  }
 

#fundo {  background: url("../fundo.png");height: 100%;  text-align: center; background-size: cover ;  
}
 
  #titulo {color: white; padding-top: 15%; padding-left: 20%;padding-right: 20%; font-size: 60px;
  
}

  #subtitulo {color: white; padding-top: 5%; padding-left: 20%;padding-right: 20% 
  }
  
  #acao {color: rgb(18, 18, 255); border: 1px; color: white solid; padding: 10px 20px 10px 20px
  
  }
  
  .icone{width: 60%;} 
  
  section{ padding:20px; float: left}

  .destaque {padding: 20px ; background-color: rgba(93, 237, 242, 0.514); float;}

  .imgprojeto{width: 0%;}

  .justificado{text-align:justify;}

  .centralizado{text-align: center;} 

  .coluna{float: left; padding: 05%; position: relative; width: 40%;}

  .colunaicone{float: left; padding: 05%; position: relative; width: 15%;}

  .coluna3{width: 30%; padding: 0.2%; float: left; position: relative;} 

  .ods14{color: rgb(0, 0, 255);}

  .footer.centralizado{background-color: #08c2e2; text-align: center;}
   
   @media  all and( max-width: 768px)